In [ ]:
pip install mysql

In [ ]:
pip install sqlalchemy

In [1]:
import pandas as pd
import mysql.connector
import sqlalchemy

from sqlalchemy import create_engine

In [2]:
file = 'survei unpivot.csv'
data = pd.read_csv(file, encoding='cp1252')
#data = data.drop(['Unnamed: 9','Unnamed: 10'],"/System Volume Information" axis=1)
data

        Polling_from       date            paslon  presentase
0    Charta Politika   1-Nov-22             TT/TJ         8.0
1    Charta Politika   1-Jul-21                TT         NaN
2    Charta Politika   1-Jun-22    Ganjar Pranowo        36.5
3    Charta Politika   7-Apr-23    Anies Baswedan        25.2
4    Charta Politika   1-Jun-22             TT/TJ        11.9
..               ...        ...               ...         ...
541             SMRC   1-Nov-22    Ganjar Pranowo        31.3
542             SMRC   1-Jun-22  Prabowo Subianto        25.8
543             SMRC   1-Jan-22    Anies Baswedan        22.3
544             SMRC   1-Aug-21             TT/TJ        28.6
545             SMRC  11-Aug-23                TT         NaN

[546 rows x 4 columns]

In [ ]:
engine = create_engine("put your credential database here", echo=True)

# UPLOAD MULTI DATA

In [4]:
file_list = [
'survei unpivot.csv'
]

nama_table = [
'06001m_Survei_Tiga_Nama_unpivot'
]
tes = pd.read_csv(file_list[0])

for i in range(0, len(file_list)):
    data = pd.read_csv(file_list[i])
    df = pd.DataFrame(data)
    df.to_sql(nama_table[i], #PENAMAAN TABLE
            engine, if_exists='replace', 
            index=False, 
            dtype={ #RENAME TYPE DATA 
                "id_wilayah":sqlalchemy.types.NVARCHAR(length=60),
                "period":sqlalchemy.types.NVARCHAR(length=60),
                "kode_wilayah":sqlalchemy.types.NVARCHAR(length=60)})

2023-10-30 11:38:25,564 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-10-30 11:38:25,572 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-30 11:38:25,782 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-10-30 11:38:25,783 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-30 11:38:25,880 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-10-30 11:38:25,881 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-30 11:38:25,948 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-30 11:38:26,027 INFO sqlalchemy.engine.Engine DESCRIBE `db_pol_master`.`06001m_Survei_Tiga_Nama_unpivot`
2023-10-30 11:38:26,028 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-30 11:38:26,122 INFO sqlalchemy.engine.Engine
CREATE TABLE `06001m_Survei_Tiga_Nama_unpivot` (
	`Polling_from` TEXT,
	date TEXT,
	paslon TEXT,
	presentase FLOAT(53)
)


2023-10-30 11:38:26,123 INFO sqlalchemy.engine.Engine [no key 0.05915s] {}
2023-10-30 11:38:26,270 INFO sqlalchemy.engine.Engine INSERT INTO `06001m_Survei_Tiga_Nama_unpivot` (`Polling_from`, date, paslon, presentase) VALUES (%(Polling_from)s, %(date)s, %(paslon)s, %(presentase)s)
2023-10-30 11:38:26,275 INFO sqlalchemy.engine.Engine [generated in 0.07922s] [{'Polling_from': 'Charta Politika', 'date': '1-Nov-22', 'paslon': 'TT/TJ', 'presentase': 8.0}, {'Polling_from': 'Charta Politika', 'date': '1-Jul-21', 'paslon': 'TT', 'presentase': None}, {'Polling_from': 'Charta Politika', 'date': '1-Jun-22', 'paslon': 'Ganjar Pranowo', 'presentase': 36.5}, {'Polling_from': 'Charta Politika', 'date': '7-Apr-23', 'paslon': 'Anies Baswedan', 'presentase': 25.2}, {'Polling_from': 'Charta Politika', 'date': '1-Jun-22', 'paslon': 'TT/TJ', 'presentase': 11.9}, {'Polling_from': 'Charta Politika', 'date': '7-Apr-23', 'paslon': 'TJ', 'presentase': None}, {'Polling_from': 'Charta Politika', 'date': '1-Dec-21', 'paslon': 'Ganjar Pranowo', 'presentase': 33.5}, {'Polling_from': 'Charta Politika', 'date': '1-Dec-22', 'paslon': 'Anies Baswedan', 'presentase': 29.2}  ... displaying 10 of 546 total bound parameter sets ...  {'Polling_from': 'SMRC', 'date': '1-Aug-21', 'paslon': 'TT/TJ', 'presentase': 28.6}, {'Polling_from': 'SMRC', 'date': '11-Aug-23', 'paslon': 'TT', 'presentase': None}]
2023-10-30 11:38:26,494 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `db_pol_master`
2023-10-30 11:38:26,495 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-30 11:38:26,564 INFO sqlalchemy.engine.Engine COMMIT

# UPLOAD SINGLE DATA

In [8]:
data.to_sql("0203131_demografi_sensus_2020_umur_migrasi", 
            engine, if_exists='replace', 
            index=False, dtype={
                        "id_wilayah":sqlalchemy.types.NVARCHAR(length=60),
                        "period":sqlalchemy.types.NVARCHAR(length=60),
                        "kode_wilayah":sqlalchemy.types.NVARCHAR(length=60)})

2023-10-16 14:53:14,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-16 14:53:14,954 INFO sqlalchemy.engine.Engine DESCRIBE `db_pol_master`.`0203131_demografi_sensus_2020_umur_migrasi`
2023-10-16 14:53:14,955 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-16 14:53:15,068 INFO sqlalchemy.engine.Engine
CREATE TABLE `0203131_demografi_sensus_2020_umur_migrasi` (
	`Unnamed: 0` BIGINT,
	id_wilayah NATIONAL VARCHAR(60),
	kode_wilayah NATIONAL VARCHAR(60),
	nama_wilayah TEXT,
	nama_indikator TEXT,
	nama_kategori_1 TEXT,
	nama_item__kategori_1 TEXT,
	nama_kategori_2 TEXT,
	nama_item__kategori_2 TEXT,
	nama_kategori_3 TEXT,
	nama_item__kategori_3 TEXT,
	`period` NATIONAL VARCHAR(60),
	nilai BIGINT
)


2023-10-16 14:53:15,069 INFO sqlalchemy.engine.Engine [no key 0.06694s] {}
2023-10-16 14:53:15,224 INFO sqlalchemy.engine.Engine INSERT INTO `0203131_demografi_sensus_2020_umur_migrasi` (`Unnamed: 0`, id_wilayah, kode_wilayah, nama_wilayah, nama_indikator, nama_kategori_1, nama_item__kategori_1, nama_kategori_2, nama_item__kategori_2, nama_kategori_3, nama_item__kategori_3, `period`, nilai) VALUES (%(UnnamedC_0)s, %(id_wilayah)s, %(kode_wilayah)s, %(nama_wilayah)s, %(nama_indikator)s, %(nama_kategori_1)s, %(nama_item__kategori_1)s, %(nama_kategori_2)s, %(nama_item__kategori_2)s, %(nama_kategori_3)s, %(nama_item__kategori_3)s, %(period)s, %(nilai)s)
2023-10-16 14:53:15,224 INFO sqlalchemy.engine.Engine [generated in 0.10456s] [{'UnnamedC_0': 0, 'id_wilayah': 1708, 'kode_wilayah': 11, 'nama_wilayah': 'ACEH', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '0-4', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Laki-laki', 'period': 2022, 'nilai': 1835}, {'UnnamedC_0': 1, 'id_wilayah': 1708, 'kode_wilayah': 11, 'nama_wilayah': 'ACEH', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '0-4', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Perempuan', 'period': 2022, 'nilai': 1819}, {'UnnamedC_0': 2, 'id_wilayah': 1708, 'kode_wilayah': 11, 'nama_wilayah': 'ACEH', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '0-4', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Non Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Laki-laki', 'period': 2022, 'nilai': 250040}, {'UnnamedC_0': 3, 'id_wilayah': 1708, 'kode_wilayah': 11, 'nama_wilayah': 'ACEH', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '0-4', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Non Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Perempuan', 'period': 2022, 'nilai': 238803}, {'UnnamedC_0': 4, 'id_wilayah': 1708, 'kode_wilayah': 11, 'nama_wilayah': 'ACEH', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '5-9', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Laki-laki', 'period': 2022, 'nilai': 3197}, {'UnnamedC_0': 5, 'id_wilayah': 1708, 'kode_wilayah': 11, 'nama_wilayah': 'ACEH', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '5-9', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Perempuan', 'period': 2022, 'nilai': 2941}, {'UnnamedC_0': 6, 'id_wilayah': 1708, 'kode_wilayah': 11, 'nama_wilayah': 'ACEH', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '5-9', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Non Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Laki-laki', 'period': 2022, 'nilai': 244327}, {'UnnamedC_0': 7, 'id_wilayah': 1708, 'kode_wilayah': 11, 'nama_wilayah': 'ACEH', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '5-9', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Non Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Perempuan', 'period': 2022, 'nilai': 234469}  ... displaying 10 of 2176 total bound parameter sets ...  {'UnnamedC_0': 2174, 'id_wilayah': 1707, 'kode_wilayah': 94, 'nama_wilayah': 'PAPUA', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '75+', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Non Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Laki-laki', 'period': 2022, 'nilai': 14876}, {'UnnamedC_0': 2175, 'id_wilayah': 1707, 'kode_wilayah': 94, 'nama_wilayah': 'PAPUA', 'nama_indikator': 'Jumlah Penduduk', 'nama_kategori_1': 'Klasifikasi Kelompok Umur ', 'nama_item__kategori_1': '75+', 'nama_kategori_2': 'Klasifikasi Migrasi Seumur Hidup', 'nama_item__kategori_2': 'Non Migran', 'nama_kategori_3': 'Klasifikasi Jenis Kelamin ', 'nama_item__kategori_3': 'Perempuan', 'period': 2022, 'nilai': 10843}]
2023-10-16 14:53:15,657 INFO sqlalchemy.engine.Engine COMMIT

-1